body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

.caixa-botoes {
    position: relative;
    overflow: hidden;
   
}

    body {
    margin: 0;
    background: #ccee66;
    color: white;
    padding: 20px 160px;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden;
}

body::after {
    content: "Nike";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 250px;
    font-weight: bold;
    opacity: 0.5;
}

body::before {
    margin: -5%;
    content: '';
    background: #202020;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: -500px;

    transform: rotate(-70deg);
}

.logo {
    width: 80px;
    position: relative;
    z-index: 1;
    
}

h4 {
    font-size: 30px;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
}

.botao-carrinho {
    background: #a3be52;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    
}

.botao-carrinho:hover {
    opacity: 0.7;
}

.imagem-tenis {
    width: 690px;
    transform: rotate(-25deg);
   filter: drop-shadow(30px 45px 40px #161616);

}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translate(-30px);
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    position: relative;
    z-index: 10;
}

.caixa-texto {
    max-width: 500px;
}

.caixa-botoes {
    position: relative;
    z-index: 4;
    display: flex;
    gap: 20px;
}

.botoes {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:active {
    opacity: 0.6;


}

.verde {
    background-color: #ccee66;

}

.rosa {
    background-color: #ff9eb5
}

.azul {
    background-color: #58cced;

}